body{
    display: flex;
    background-color:black;
    font-family: Arial, sans-serif;
    justify-content:center;
    align-items: center;
    height: 100vh;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}